body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: royalblue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.container {
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: scale(2);
    animation: moving 10s infinite linear;
}

.head {
    height: 3rem;
    width: 5rem;
    background-color: brown;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.eye {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    padding-top: 10px;
}

.smile {
    width: 20px;
    height: 5px;
    border: 10px solid #222;
    border-top: 0;
    background: rgba(0, 0, 0, 0);
    border-radius: 0 0 120px 120px / 0 0 90px 90px;
    /* bottom: 50px;
	left: 38px; */
}

.l_eye {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background-color: black;
}

.antena {
    height: 40px;
    width: 2px;
    background-color: black;
}

.robot_body {
    height: 100px;
    width: 100px;
    background-color: black;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    overflow: visible;
}

.arm {
    display: flex;
    flex-direction: row;
    gap: 50px;
    position: relative;
    /* bottom: 90px; */
    z-index: -100;
}

.parts {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 100px;
}

.l_arm {
    height: 70px;
    width: 20px;
    background-color: darkred;
    transform: rotate(45deg);
    border-radius: 30%;
}

.r_arm {
    height: 70px;
    width: 20px;
    background-color: darkred;
    transform: rotate(-45deg);
    border-radius: 30%;
    animation: r_arm 2s infinite linear;
}

.leg {
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
    z-index: -100;
}


.l_leg {
    height: 70px;
    width: 20px;
    background-color: darkred;
    border-radius: 30%;
    animation: r_leg 1s infinite linear;
}

.r_leg {
    height: 70px;
    width: 20px;
    background-color: darkred;
    border-radius: 30%;
    animation: l_leg 1s infinite linear;
}

.wiggle {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}


@keyframes moving {
    0% {
        transform: translate(0, 0)
    }

    25% {
        transform: translate(-450px, 0)
    }

    50% {
        transform: translate(-800px, 0)
    }

    75% {
        transform: translate(450px, 0)
    }

    100% {
        transform: translate(0, 0)
    }
}


@keyframes r_arm {
    0% {
        transform: rotate(-200deg);
        transform-origin: center top;
    }

}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}


@keyframes l_leg {
    0% {
        transform: rotate(-20deg);
        transform-origin: top;
    }
    25% {
        transform: rotate(-30deg);
        transform-origin: top;
    }
    50% {
        transform: rotate(-40deg);
        transform-origin: top;
    }
    75%{
        transform: rotate(30deg);
        transform-origin: top;
    }
    100%{
        transform: rotate(20deg);
        transform-origin: top;
    }
}


@keyframes r_leg {
    0% {
        transform: rotate(40deg);
        transform-origin: top;
    }

    /* 50%{
        transform: rotate(80deg);
        transform-origin: top bottom;
    } */
}